<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Список студентов</title>
  <link rel="stylesheet" href="/styles.css"/>
</head>
<body>
<h1 style="text-align: center">Список студентов</h1>

<h2>Создать студента</h2>

<form action="/students/addOrUpdate" method="post" th:object="${student}">
  <select th:field="*{university.id}" required>
    <option value="">Выберите университет</option>
    <th:block th:each="uni : ${availableUniversities}">
      <option th:value="${uni.id}" th:text="${uni.name}"></option>
    </th:block>
  </select>

  <select th:field="*{grade.id}" required>
    <option value="">Выберите оценку</option>
    <th:block th:each="grade_el : ${availableGrades}">
      <option th:value="${grade_el.id}" th:text="${grade_el.gradeContent}"></option>
    </th:block>
  </select>

  <input type="text" th:field="*{name}" placeholder="Имя" required>
  <input type="text" th:field="*{lastName}" placeholder="Фамилия" required>
  <input type="text" th:field="*{firstName}" placeholder="Отчество" required>
  <input type="text" th:field="*{middleName}" placeholder="Дополнительное имя" required>

  <button type="submit">Добавить студента</button>
</form>

<h2>Все студенты:</h2>
<div style="display: flex; align-items: center">
  <form action="/students/find" method="get">
    <input type="text" name="name" placeholder="Введите имя для поиска"/>
    <input type="text" name="lastName" placeholder="Введите фамилию для поиска" />
    <input type="text" name="firstName" placeholder="Введите отчество для поиска"/>
    <input type="text" name="middleName" placeholder="Введите дополнительное имя для поиска"/>
    <button type="submit">Поиск</button>
  </form>
  <form action="/students" method="get" style="margin-left: 2px">
    <button type="submit">Очистить поиск</button>
  </form>
</div>

<br>
<form action="/students/filter" method="get">
  <!-- Выпадающий список для фильтрации по университету -->
  <label for="university">Университет:</label>
  <select id="university" name="university">
    <option value="" selected>Все университеты</option>
    <th:block th:each="uni : ${availableUniversities}">
      <option th:value="${uni.name}" th:text="${uni.name}"></option>
    </th:block>
  </select>

  <!-- Выпадающий список для фильтрации по оценке -->
  <label for="grade">Оценка:</label>
  <select id="grade" name="grade">
    <option value="" selected>Все оценки</option>
    <th:block th:each="grade : ${availableGrades}">
      <option th:value="${grade.gradeContent}" th:text="${grade.gradeContent}"></option>
    </th:block>
  </select>

  <button type="submit">Применить фильтр</button>
</form>

<ul>
  <th:block th:each="student : ${students}">
    <li>
      <span th:text="${student.name} + ' ' + ${student.lastName} + ' ' + ${student.firstName} + ' ' + ${student.middleName} +
' ' + ' ' + ${student.university.name} + ' ' + ${student.grade?.gradeContent}"></span>
      <form action="/students/addOrUpdate" method="post" style="display:inline;">
        <input type="hidden" name="id" th:value="${student.id}"/>
        <select name="university.id" required>
          <option value="">Выберите университет</option>
          <th:block th:each="uni : ${availableUniversities}">
            <option th:value="${uni.id}" th:selected="${student.university.id == uni.id}" th:text="${uni.name}"></option>
          </th:block>
        </select>

        <select name="grade.id" required>
          <option value="">Выберите оценку</option>
          <th:block th:each="grade : ${availableGrades}">
            <option th:value="${grade.id}" th:selected="${student.grade == grade.id}" th:text="${grade.gradeContent}"></option>
          </th:block>
        </select>

        <input type="text" name="name" placeholder="Имя" th:value="${student.name}"/>
        <input type="text" name="lastName" placeholder="Фамилия" th:value="${student.lastName}" required/>
        <input type="text" name="firstName" placeholder="Отчество" th:value="${student.firstName}" required/>
        <input type="text" name="middleName" placeholder="Дополнительное имя" th:value="${student.middleName}" required/>

        <button type="submit">Обновить</button>
      </form>

      <form action="/students/delete" method="post" style="display:inline;">
        <input type="hidden" name="id" th:value="${student.id}"/>
        <button type="submit" name="action" value="logical">Удалить логически</button>
      </form>
      <form action="/students/delete" method="post" style="display:inline;">
        <input type="hidden" name="id" th:value="${student.id}"/>
        <button type="submit" name="action" value="physical">Удалить физически</button>
      </form>
    </li>
  </th:block>
</ul>

<br><br>
<h2>Удаление студентов</h2>
<form action="/students/deleteMultiple" method="post">
  <ul>
    <th:block th:each="student : ${allStudents}">
      <li>
        <input type="checkbox" name="studentIds" th:value="${student.id}">
        <span th:text="${student.name} + ' ' + ${student.lastName} + ' ' + ${student.firstName} + ' ' + ${student.middleName}"></span>
      </li>
    </th:block>
  </ul>
  <button type="submit">Удалить выбранных студентов</button>
</form>

<div>
  <div th:if="${totalPages > 1}">
    <span th:text="'Страница ' + ${currentPage + 1} + ' из ' + ${totalPages}"></span>
    <br><br>

    <div class="pagination">
      <th:block th:if="${currentPage > 0}">
        <a th:href="@{/students(page=${currentPage - 1}, size=${pageSize})}" class="pagination-button">Предыдущая</a>
      </th:block>

      <th:block th:if="${currentPage < totalPages - 1}">
        <a th:href="@{/students(page=${currentPage + 1}, size=${pageSize})}" class="pagination-button">Следующая</a>
      </th:block>
    </div>
  </div>
</div>
<a href="/">Вернуться на главную</a>
</body>
</html>