<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Список учителей</title>
  <link rel="stylesheet" href="/styles.css"/>
</head>
<body>
<h1 style="text-align: center">Список учителей</h1>

<h2>Создать учителя</h2>

<form action="/teachers/addOrUpdate" method="post" th:object="${teacher}">
  <input type="text" th:field="*{name}" placeholder="Имя" required>
  <input type="text" th:field="*{lastName}" placeholder="Фамилия" required>
  <select th:field="*{subjects}" multiple required>
    <option value="">Выберите предметы</option>
    <th:block th:each="sub : ${availableSubjects}">
      <option th:value="${sub.id}" th:text="${sub.name}"></option>
    </th:block>
  </select>
  <input type="number" th:field="*{age}" placeholder="Возраст" required>
  <input type="number" th:field="*{stage}" placeholder="Стаж" required>
  <button type="submit">Добавить учителя</button>
</form>

<h2>Все учителя:</h2>
<div style="display: flex; align-items: center">
  <form action="/teachers/find" method="get">
    <input type="text" name="name" placeholder="Введите имя"/>
    <input type="text" name="lastName" placeholder="Введите фамилию"/>
    <button type="submit">Поиск</button>
  </form>
  <form action="/teachers" method="get" style="margin-left: 2px">
    <button type="submit">Очистить поиск</button>
  </form>
</div>

<form action="/teachers/filter" method="get">
  <label for="subject">Предмет:</label>
  <select id="subject" name="subject">
    <option value="" selected>Все предметы</option>
    <th:block th:each="sub : ${availableSubjects}">
      <option th:value="${sub}" th:text="${sub}"></option>
    </th:block>
  </select>

  <input type="number" name="age" placeholder="Мин. возраст"/>
  <input type="number" name="stage" placeholder="Мин. стаж"/>

  <button type="submit">Применить фильтр</button>
</form>

<ul>
  <th:block th:each="teacher : ${teachers}">
    <li>
      <span th:text="${teacher.name} + ' ' + ${teacher.lastName} + ' '"></span>
      <span>
            <th:block th:each="sub : ${teacher.subjects}">
                <span th:text="${sub.name} + ' '"></span>
            </th:block>
        </span>
      <span th:text="' ' + ${teacher.age} + ' ' + ${teacher.stage}"></span>
      <form action="/teachers/addOrUpdate" method="post" style="display:inline;">
        <input type="hidden" name="id" th:value="${teacher.id}"/>
        <input type="text" name="name" placeholder="Имя" th:value="${teacher.name}" required/>
        <input type="text" name="lastName" placeholder="Фамилия" th:value="${teacher.lastName}" required/>
        <select name="subject" th:value="${teacher.subject}" th:selected="${teacher.subject}" multiple required>
          <th:block th:each="sub : ${availableSubjects}">
            <option th:value="${sub.id}" th:selected="${teacher.subjects.contains(sub)}" th:text="${sub.name}"></option>
          </th:block>
        </select>
        <input type="text" name="age" placeholder="Возраст" th:value="${teacher.age}" required/>
        <input type="text" name="stage" placeholder="Стаж" th:value="${teacher.stage}" required/>
        <button type="submit">Обновить</button>
      </form>
      <form action="/teachers/delete" method="post" style="display:inline;">
        <input type="hidden" name="id" th:value="${teacher.id}"/>
        <button type="submit" name="action" value="logical">Удалить логически</button>
      </form>
      <form action="/teachers/delete" method="post" style="display:inline;">
        <input type="hidden" name="id" th:value="${teacher.id}"/>
        <button type="submit" name="action" value="physical">Удалить физически</button>
      </form>
    </li>
  </th:block>
</ul>

<br><br>
<h2>Удаление учителей</h2>
<form action="/teachers/deleteMultiple" method="post">
  <ul>
    <th:block th:each="teacher : ${teachers}">
      <li>
        <input type="checkbox" name="teacherIds" th:value="${teacher.id}">
        <span th:text="${teacher.name} + ' ' + ${teacher.lastName} + ' ' + ${teacher.subject} + ' ' + ${teacher.age} +
' ' + ${teacher.stage}"></span>
      </li>
    </th:block>
  </ul>
  <button type="submit">Удалить выбранных учителей</button>
</form>

<div>
  <div th:if="${totalPages > 1}">
    <span th:text="'Страница ' + ${currentPage + 1} + ' из ' + ${totalPages}"></span>
    <br><br>

    <div class="pagination">
      <th:block th:if="${currentPage > 0}">
        <a th:href="@{/teachers(page=${currentPage - 1}, size=${pageSize})}" class="pagination-button">Предыдущая</a>
      </th:block>

      <th:block th:if="${currentPage < totalPages - 1}">
        <a th:href="@{/teachers(page=${currentPage + 1}, size=${pageSize})}" class="pagination-button">Следующая</a>
      </th:block>
    </div>
  </div>
</div>
<a href="/">Вернуться на главную</a>
</body>
</html>